# Example configuration file for pah-irc. Rename this to etc/pah-irc.conf to
# use it (you'll need to at least set its nickname and nick password though).

# Server hostname or IP.
target_server = uk.blitzed.org

# Port to connect to.
target_port = 6667

# password to use to connect to server (comment out to use no password)
target_pass = changeme

# IRC nick to use.
nick = AgainstHumanity

# If the nick is registered, identify to NickServ with this password.
nick_pass = changeme

# If there is no identd installed then use this ident.
username = pah

# File to write PID to whilst running.
pidfile = pah-irc.pid

# SQLite 3 database file.
dbfile = ./var/pah-irc.sqlite

# How long can a game be idle before someone is forcibly resigned to kick
# things along?
#
# If you desire fast-paced games (not what this bot is designed for) you could
# try setting it fairly low, like 5 minutes (300). But then you may find it
# hard to get enough people together and awake at the same time.
# Specified in seconds.
turnclock = 86400 # A day.
